# Node
node_modules
package-lock.json
yarn.lock

# Build outputs
.next
out
dist

# Editor
.idea
.DS_Store
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
.tmp/

# Misc
.env*
apps/site/.lhci/
apps/site/playwright-report/
apps/site/blob-report/
apps/site/test-results/
apps/site/app/critical.css
*.tsbuildinfo
/coverage/
apps/site/coverage/
.gnupg-security/
.tmp_extra_keys.txt
.tmp_missing_keys.txt
